*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colortextos: #777777;
    --colorbotones: #8c2574;
    --paddingsecciones: 60px 0;
    --marginelementos: 40px;
    --colorTitulos: #ffe70f;
}


body{
    font-family: 'Chakra Petch', sans-serif;
    background-color: #ffffff;
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

/*menu*/

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 3px solid black;
}

.logo{
    height: 70px;
    margin: right;
}

.logo img{
    display: block;
    height: 100%;
}

.enlaces li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    bottom: 100px;
    
}

.enlaces a{
    text-decoration: none;
    padding-left: 10px;
}
.botonn{
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #ffee00;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin-left: 30px;
    cursor: pointer;
  }






@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #2d2c2c;
    border-bottom: 4px solid black;
    height: calc(81vh - 100px - 300px)

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 0px 20px;
}
.pie-pagina .grupo-1 .box figure{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #ffea00;
    margin-bottom: 25px;
    font-size: 30px;
}
.pie-pagina .grupo-1 .box p{
    color: #ffea00;
    margin-bottom: 34px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #ffea00;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    border-radius: 100px;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: crimson;
}
.pie-pagina .grupo-2{
    background-color: #272620;
    padding: 0px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
section{
    background: url(../PWebGym/project/images/Arnold.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 220vh;
}
@media (max-width: 858px){
    .pie-pagina.grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }